.popup {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .popup-inner {
    border-radius: 12px;
    position: relative;
    padding: 32px;
    width: 70%;
    max-width: 640px;
    background-color: rgb(255, 255, 255);
    font-size: 15px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    
  }
  
  .close-btn1 {
    position: absolute;
    bottom: 8px; 
    left: 50%; 
    transform: translateX(-50%);
    background-color:aquamarine; 
    border: 2px solid #ffffff; 
    border-radius: 4px;
    color: rgb(0, 0, 0);
    padding: 4px 13px;
  }